Xcode/SCSI2SD-util/Podfile.lock
Xcode/SCSI2SD-util/Pods
Xcode/SCSI2SD-util/SCSI2SD-util.xcworkspace/xcuserdata
Xcode/SCSI2SD-util/SCSI2SD-util.xcworkspace/xcshareddata
Xcode/SCSI2SD-util/SCSI2SD-util-v6.xcworkspace/xcuserdata
Xcode/SCSI2SD-util/SCSI2SD-util-v6.xcworkspace/xcshareddata